name: Build and push Docker image to GitHub Packages
on:
    push:
        branches:
            - main

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}
    CARGO_TERM_COLOR: always

jobs:
    build-docker:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write
        strategy:
            matrix:
                architectures:
                    - linux/amd64
        steps:
            - name: Generate token
              id: app-token
              uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
              with:
                  app-id: ${{ secrets.METALOPS_REGISTRY_APP_ID }}
                  private-key: ${{ secrets.METALOPS_REGISTRY_APP_KEY }}
                  owner: ${{ github.repository_owner }}
            - name: Set up CD
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
              with:
                  submodules: "true"
            - name: Set up Docker Qemu
              uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
            - name: Docker login
              uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ steps.app-token.outputs.token }}
            - name: Cache Docker layers
              uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4
              with:
                  path: /tmp/.buildx-cache
                  key: ${{ runner.os }}-buildx-${{ github.sha }}
                  restore-keys: |
                      ${{ runner.os }}-buildx-
            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@be19121bfd18b9c1ac415d9571d4f67b9b357886
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            - name: Build and push
              uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
              with:
                  cache-from: type=local,src=/tmp/.buildx-cache
                  cache-to: type=local,dest=/tmp/.buildx-cache-new
                  context: .
                  file: ./Dockerfile
                  platforms: ${{ matrix.architectures }}
                  push: true
                  tags: ${{env.REGISTRY}}/${{ env.IMAGE_NAME }}:latest,
                  labels: ${{ steps.meta.outputs.labels }}
