name: Build and test

on:
    pull_request:
        branches:
            - main

jobs:
    build-test:
        runs-on: ubuntu-latest
        steps:
            - name: Set up CD
              uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
            - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
              with:
                  package-manager-cache: false
                  node-version: "22.21.1"
            - name: Install d2
              run: curl -fsSL https://d2lang.com/install.sh | sh -s --
            - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 #v4.2.0
              name: Install pnpm
              with:
                  version: latest
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Build
              run: pnpm build
            - name: Test
              run: pnpm test --run

    build-docker-file:
        runs-on: ubuntu-latest
        needs: ["build-test"]
        strategy:
            matrix:
                architectures:
                    - linux/amd64
        steps:
            - name: Set up CD
              uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
            - name: Set up Docker Qemu
              uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
            - name: Build and push
              uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
              with:
                  context: .
                  file: ./Dockerfile
                  platforms: ${{ matrix.architectures }}
                  push: false
